﻿$c-primary: #333333;
$c-primary-hover: darken($c-primary, 10%);

:root {
    --c-primary: #{$c-primary};
    --c-primary-hover: #{$c-primary-hover};
}

.class {
    color: var(--c-primary);

    &:hover {
        color: var(--c-primary-hover);
    }
}
