﻿$c-primary: #333333;
$c-primary-hover: darken($c-primary, 10%);

:root {
    --c-primary: #{$c-primary};
    --c-primary-hover: #{$c-primary-hover};
}

$c-primary: var(--c-primary);
$c-primary-hover: var(--c-primary-hover);

.class {
    color: $c-primary;

    &:hover {
        color: $c-primary-hover;
    }
}
